# Gmail data analysis
### Exploring more than 5 years of Gmail messages

I learned recently that Google allows its users to download metadata for all the messages sent and received through Gmail. This leads to interesting insights to be found in the data: *What are the most common people I have been in touch with? What days of the week or time of the day have the highest trafic?* In order to explore these and other questions I decided to request my data and perform the present analysis.

The first step is [requesting the data](https://takeout.google.com/settings/takeout). There is data available for several Google services, only the Gmail data is used here. Depending on the amount of data the request can take several hours (my file is 3.03GB). Once we are notified that the file is ready to be downloaded, the data will come in a special format called `mailbox`. After importing some useful modules we can clean and explore the data.

## Requirements

In [1]:
import mailbox
import pandas as pd
import csv
import unicodedata
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set(rc={'figure.facecolor':'white'})

# For better quality plots use
from IPython.display import set_matplotlib_formats
set_matplotlib_formats('pdf', 'svg')

from time import time
from collections import Counter

C:\Users\vikra\AppData\Local\Temp\ipykernel_7712\3662284269.py:12: DeprecationWarning: `set_matplotlib_formats` is deprecated since IPython 7.23, directly use `matplotlib_inline.backend_inline.set_matplotlib_formats()`
  set_matplotlib_formats('pdf', 'svg')

## Data preprocessing
One of the most important steps before analyzing the data is its proper cleaning, which refers to removing unnecessary data, dealing with missing values, grouping fields that appear different for the machine but that refer to the same items, etc.
We begin by saving the data file `gmail_data.mbox` in a directory called `data` (for privacy reasons, this file is absent from the GitHub repository). The file can be loaded using the `mailbox` module

In [2]:
file_path = 'All mail Including Spam and Trash.mbox'
mbox = mailbox.mbox(file_path)
print('samples:', len(mbox))

samples: 25439

The file contains 2748 samples. Even though these are mostly email messages, many other entry types are counted, such as drafts and chats. These can be removed by filtering by Gmail label. The file contains the following fields

In [4]:
# print fields
for i, key in enumerate(mbox[0].keys()):
    print(i+1, key)

1 X-GM-THRID
2 X-Gmail-Labels
3 Delivered-To
4 Received
5 X-Google-Smtp-Source
6 X-Received
7 ARC-Seal
8 ARC-Message-Signature
9 ARC-Authentication-Results
10 Return-Path
11 Received
12 Received-SPF
13 Authentication-Results
14 DKIM-Signature
15 Received
16 Date
17 From
18 Reply-To
19 To
20 Message-ID
21 Subject
22 MIME-Version
23 Content-Type
24 x-mid
25 X-CSA-Complaints
26 x-rpcampaign
27 x-job
28 x-orgId
29 List-Unsubscribe-Post
30 List-Unsubscribe

We find that there are several section of little interest. In order to avoid loading unnecessary information, we can extract the fields of interest and put them into a `pandas` dataframe for further processing. We are interested in the following fields: `subject`, `from`, `to`, `date`, and `Gmail-label`.

In [5]:
t0 = time()
subject = []
from_ = []
to = []
date = []
label = []
for i, message in enumerate(mbox):
    try:
        if i%2000 == 0:
            print(i, end=' ')
        subject.append(message['subject'])
        from_.append(message['from'])
        to.append(message['to'])
        date.append(message['date'])
        label.append(message['X-Gmail-Labels'])
    except:
        print(i, end=' ')
        print('subject', subject[i])
        print('from', from_[i])
        print('to', to[i])
        print('date', date[i])
        print('label', label[i])
print('\ntime: {:.1f} min'.format((time()-t0)/60))

0 2000 4000 6000 8000 10000 12000 14000 16000 18000 20000 22000 24000
time: 0.5 min


This code appears to be a Python script designed to process email messages stored in a mailbox (mbox) format. Let's break down what each part of the code does:

t0 = time(): This line records the starting time of the script's execution. The time module needs to be imported for this to work (import time).

subject = [], from_ = [], to = [], date = [], label = []: These lines initialize empty lists to store information extracted from each email message. Each list corresponds to different attributes of the email messages, such as subject, sender, recipient, date, and labels.

for i, message in enumerate(mbox):: This line initiates a loop that iterates through each message in the mbox object. The enumerate() function provides both the index (i) and the corresponding message (message) for each iteration.

try:: This line starts a try-except block, indicating that the code inside the block will be attempted, and if any errors occur, they will be caught by the except block.

if i%2000 == 0:: This line checks if the index i is divisible by 2000 with no remainder. This condition is met every 2000 messages, and when true, it prints the current index (to track progress) without moving to a new line.

subject.append(message['subject']), from_.append(message['from']), to.append(message['to']), date.append(message['date']), label.append(message['X-Gmail-Labels']): These lines extract specific fields from the current email message (message) and append them to their respective lists. The fields being extracted include the subject, sender, recipient, date, and labels.

except:: This block catches any exceptions that occur within the try block. If an exception occurs, it prints out the index i, along with the values of the subject, sender, recipient, date, and labels associated with that message.

print('\ntime: {:.1f} min'.format((time()-t0)/60)): This line calculates the total execution time of the script by subtracting the starting time (t0) from the current time and then dividing by 60 to convert the result to minutes. It then prints out the total time taken for execution.

In [6]:
df = pd.DataFrame()
df['subject'] = subject
df['from'] = from_
df['to'] = to
df['date'] = date
df['label'] = label

In [7]:
df[['subject', 'date', 'label']].head()

,subject,date,label
0,Here is a Smart Choice Loan for you,"Thu, 21 Mar 2024 12:19:04 +0000 (UTC)","Spam,Category updates,Unread"
1,78 New Auctions added in ForeclosureIndia.com ...,"Fri, 22 Mar 2024 14:23:19 +0000","Spam,Category promotions,Unread"
2,Mergers are not a please-all solution,"Tue, 19 Mar 2024 09:12:03 +0000 (UTC)","Inbox,Category promotions,Unread"
3,=?UTF-8?B?8J+UpQ==?= Unlock the Future: Groove...,"Thu, 21 Mar 2024 00:57:24 +0000 (UTC)","Spam,Category promotions,Unread"
4,Weekly Statement,"Fri, 22 Mar 2024 11:28:27 +0530","Inbox,Category personal,Unread"

In [8]:
def remove_accents(text):
    text = str(text)
    nfkd_norm = unicodedata.normalize('NFKD', text)
    text = nfkd_norm.encode('ASCII', 'ignore').decode('utf-8')
    return text

In [9]:
df['subject'] = df['subject'].map(remove_accents)

After cleaning the `subject` field, we can get a general overview of the integrity of different fields

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25439 entries, 0 to 25438
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   subject  25439 non-null  object
 1   from     25439 non-null  object
 2   to       25419 non-null  object
 3   date     25439 non-null  object
 4   label    25439 non-null  object
dtypes: object(5)
memory usage: 993.8+ KB

We find that `to`, one of the most relevant fields, contains some null entries. Which has to be removed.

In [11]:
len(df[df['to'].isnull()])

20

In [12]:
# delete null rows
df = df[df['to'].notnull()]
len(df)

25419

The next goal is to transform the class type: dates are given as strings

In [13]:
df[['date']].head()

                                    date
0  Thu, 21 Mar 2024 12:19:04 +0000 (UTC)
1        Fri, 22 Mar 2024 14:23:19 +0000
2  Tue, 19 Mar 2024 09:12:03 +0000 (UTC)
3  Thu, 21 Mar 2024 00:57:24 +0000 (UTC)
4        Fri, 22 Mar 2024 11:28:27 +0530

These string dates can be converted into timestamps using the converted available for dataframes

In [17]:
df['date'] = df['date'].apply(lambda x: pd.to_datetime(x, errors='coerce', utc=True))

Some dates have unappropriate shape for conversion (these are drafts of spam messages), which can be simply removed

In [18]:
df = df[df['date'].notnull()]

Given that the date is now a timestamp, messages can be easily sorted by date, after which the dataframe index must be reset

In [19]:
df = df.sort_values(['date'], ascending=False)
df = df.reset_index(drop=True)

The most recent messages are the following

In [20]:
df[['subject', 'date', 'label']].head(8)

,subject,date,label
0,Security alert,2024-03-23 07:44:26+00:00,"Inbox,Category updates,Unread"
1,Security alert for jmdgameing@gmail.com,2024-03-23 06:29:18+00:00,"Inbox,Category updates,Unread"
2,Security alert for jmdgameing@gmail.com,2024-03-23 06:17:48+00:00,"Inbox,Category updates,Unread"
3,Security alert for jmdgameing@gmail.com,2024-03-23 06:14:51+00:00,"Inbox,Category updates,Unread"
4,Security alert for jmdgameing@gmail.com,2024-03-23 06:14:49+00:00,"Inbox,Category updates,Unread"
5,Roaring Twenties?,2024-03-23 04:00:28+00:00,"Inbox,Category updates,Unread"
6,Margin Statement,2024-03-23 03:19:43+00:00,"Inbox,Category updates,Unread"
7,Exclusive Offer for Reader | Get ePaper at jus...,2024-03-23 02:30:19+00:00,"Spam,Category promotions,Unread"

where the most recent message is the notification from Gmail to download the data used here. The oldest messages are

In [21]:
df[['subject', 'date', 'label']].tail(9)

,subject,date,label
25410,"Ok Google, remind me to pay the electricity bill",2019-04-28 10:07:58+00:00,"Inbox,Category updates,Unread"
25411,"Comprehensive News Analysis: 27th April, 2019.",2019-04-27 12:56:10+00:00,"Inbox,Category promotions,Unread"
25412,We care about your security,2019-04-27 11:25:31+00:00,"Inbox,Category promotions,Unread"
25413,"Comprehensive News Analysis: 26th April, 2019.",2019-04-26 14:25:16+00:00,"Inbox,Category promotions,Unread"
25414,"Ok Google, call Home",2019-04-26 10:06:06+00:00,"Inbox,Category updates,Unread"
25415,"Hey Google, what can you do?",2019-04-24 09:00:53+00:00,"Inbox,Category updates,Unread"
25416,"Vikram, get started on Google Play",2019-04-22 11:25:28+00:00,"Inbox,Category promotions,Unread"
25417,Security alert,2019-04-22 08:23:21+00:00,"Inbox,Category personal,Unread"
25418,Finish setting up your new Google account,2019-04-22 08:22:52+00:00,"Inbox,Category updates,Unread"

Finally, there are many messages in the `Drafts` folder that should also be removed

In [22]:
df = df[df['label'] != 'Drafts']

The same applies for `Spam` messages. Unfortunately, this label does not appear alone so it must be searched in the `label` column

In [23]:
cnt = 0
idx_to_remove = []
for i, lab in enumerate(df['label']):
    if 'Spam' in str(lab):
        idx_to_remove.append(i)

df = df.drop(df.index[idx_to_remove])
df = df.reset_index(drop=True)

At this point, and given the time used for cleaning the data file, it is a good idea to export it as a `csv` file for future use without the need of redoing the preprocessing above.

In [24]:
df.to_csv('outmut.csv',
          encoding='utf-8', index=False)

# **Data exploration**

We can now begin exploring the data set.

In [25]:
df = pd.read_csv('outmut.csv')
len(df)

25381

Since the data was loaded from a `csv` file, the dates are back as `str` so they must be converted into `timestamp` again

In [26]:
df['date'] = df['date'].apply(lambda x: pd.to_datetime(x))

## **1. Incoming vs. outgoing messages**
For simplicity, all messages written by me or sent to me can be labeled by the string `me` instead of my email address. This will make the identification of incoming and outgoing emails easier. For this the following helper function returns `me` my email address is found and leaves the text unchanged, otherwise:

In [ ]:
def rename_me(txt):
    txt = str(txt).lower()
    if('maheshhabib07@gmail.com' in txt or
       '25012001' in txt):
        txt_out = 'me'
    else:
        txt_out = txt
    return txt_out

In [28]:
df['from'] = df['from'].apply(rename_me)
df['to'] = df['to'].apply(rename_me)

In [29]:
df[['subject', 'to', 'date', 'label']].head(4)

,subject,to,date,label
0,Security alert,me,2024-03-23 07:44:26+00:00,"Inbox,Category updates,Unread"
1,Security alert for jmdgameing@gmail.com,me,2024-03-23 06:29:18+00:00,"Inbox,Category updates,Unread"
2,Security alert for jmdgameing@gmail.com,me,2024-03-23 06:17:48+00:00,"Inbox,Category updates,Unread"
3,Security alert for jmdgameing@gmail.com,me,2024-03-23 06:14:51+00:00,"Inbox,Category updates,Unread"

Since we want to explore the statistical distribution of messages, a useful information is a count of messages, for which a unit `count` column can be created

In [30]:
df['count'] = [1 for _ in range(len(df))]

In order to keep the original data intact, we can make a copy and set the timestamp as a index, so that messages can be grouped and resampled by time periods

In [31]:
data = df.copy()
data.set_index('date', drop=True, inplace=True)

Now we can identify incoming vs. outgoing emails

In [32]:
data_in = data[data['to'] == 'me']
data_out = data[data['from'] == 'me']

In [33]:
monthly_in = data_in['count'].resample('M').sum()
monthly_out= data_out['count'].resample('M').sum()
monthly_in.plot(color='g', label='incoming emails')
monthly_out.plot(color='r', label='outgoing emails')
plt.ylabel('Monthly email count')
plt.legend(loc='upper left', frameon=True).get_frame().set_color('white');

It can be seen that most of the time the number of received emails is greater than the number of emails sent.

## **2. Busy days**

We can now try to identify email activity vs. day of the week. We use the `timestamp` method `weekday()`, which returns an index [0....6] corresponding to the days of the from Monday to Sunday.

In [34]:
dow = []
for i in range(len(df)):
    dow.append(df['date'][i].weekday())

Create new `series` with the day of the week of the message

In [35]:
df['dow'] = dow
df[['subject', 'date', 'dow', 'label']].head(4)

,subject,date,dow,label
0,Security alert,2024-03-23 07:44:26+00:00,5,"Inbox,Category updates,Unread"
1,Security alert for jmdgameing@gmail.com,2024-03-23 06:29:18+00:00,5,"Inbox,Category updates,Unread"
2,Security alert for jmdgameing@gmail.com,2024-03-23 06:17:48+00:00,5,"Inbox,Category updates,Unread"
3,Security alert for jmdgameing@gmail.com,2024-03-23 06:14:51+00:00,5,"Inbox,Category updates,Unread"

In [36]:
df_in = df[df['to'] == 'me']
df_out = df[df['from'] == 'me']

We can now get the distribution of messages per day of the week. For this a dictionary can easily capture the frequency of messages on each day

In [37]:
dow_in, dow_out = {}, {}
for i in range(7):
    dow_in[i] = 0
    dow_out[i] = 0
for i in df_in['dow']:
    dow_in[i] += 1
for i in df_out['dow']:
    dow_out[i] += 1

In [6]:
x, y_in, y_out, y_all = [], [], [], []
for key in dow_in.keys():
    x.append(key)
    y_in.append(dow_in[key])
    y_out.append(dow_out[key])
    y_all.append(dow_in[key] + dow_out[key])

plt.plot(x, y_in, 'o-', color='g', label='incoming emails')
plt.plot(x, y_out, 'o-', color='r', label='outgoing emails')
plt.axis([-0.5, 6.5, 0, 500])
plt.xlabel('day of the week')
plt.ylabel('number of messages')
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
plt.xticks(x, days)
plt.legend(frameon=True).get_frame().set_color('white');

NameError: name 'dow_in' is not defined

In [7]:

dow = []
for i in range(len(df)):
    dow.append(df['date'][i].weekday()) 
df['dow'] = dow


df_in = df[df['to'] == 'me']
df_out = df[df['from'] == 'me']


dow_in_hours = {h: 0 for h in range(24)}
dow_out_hours = {h: 0 for h in range(24)}


for i in df_in['date']:
    dow_in_hours[i.hour] += 1

for i in df_out['date']:
    dow_out_hours[i.hour] += 1


x_hours = list(range(24))  
y_in_hours = [dow_in_hours[hour] for hour in x_hours]  
y_out_hours = [dow_out_hours[hour] for hour in x_hours] 

plt.figure(figsize=(20, 10))  
plt.plot(x_hours, y_in_hours, 'o-', color='g', label='incoming emails')
plt.plot(x_hours, y_out_hours, 'o-', color='r', label='outgoing emails')
plt.xlabel('Hour of the day')
plt.ylabel('Number of messages')
plt.xticks(x_hours, labels=[str(h) + ':00' for h in x_hours])  
plt.legend(frameon=True).get_frame().set_color('white')
plt.grid(True)
plt.show()

NameError: name 'df' is not defined

This plot shows clearly that the activity is quite uniform during the week days and it decreases during the weekens, as sort of expected.

## **3. Frequent contacts**
Another immediate question that can be answered with this data is regarding the most frequent contacts I have received messages from and those to whom I have written the most. Just as done earlier with my email address that was replaced by the string `me`.

***For the privacy of my contacts (I prefer not to post their email address) can be protected by creating a function that can replace their contact information with a nickname.***

In [8]:
def nickname(txt, list_to_rename, new_name):
    txt = str(txt)
    for name in list_to_rename:
        if name in txt.lower():
            txt_out = new_name
            break
        else:
            txt_out = txt
    return txt_out

where `txt` is the text where the names on the list `list_to_rename` are been searched, if found they will be replaced by the nickname `new_name`.This is done for a few frequent contacts.

The most frequent contacts that I have written to are

In [9]:
# Exclude recipients to be removed
excluded_recipients = ['nipm']
filtered_counts = df['to'][~df['to'].isin(excluded_recipients)].value_counts()

# Print the counts
print(filtered_counts[1:10])

NameError: name 'df' is not defined

This shows the count of emails which were sent. All these results can be visualized

In [10]:
df_top10 = df['to'].value_counts()[1:11].reset_index()
df_top10.columns = ['to', 'count']

sns.set_style("whitegrid")
sns.set_color_codes("pastel")
plt.figure(figsize=(10, 6))
sns.barplot(x='count', y='to', data=df_top10, palette='Greens_d')
plt.title('Top 10 Most Common Email Recipients')
plt.xlabel('Number of Emails')
plt.ylabel('Recipient Email Address')

sns.despine(left=True, bottom=True)
plt.show()

NameError: name 'df' is not defined

:Now we can check from whom i received most number of emails. But the problem with the from email is duplicate email IDs. *`Eg - no-reply@ncp.flipkart.com and no-reply@ncb.flipkart.com`* they both are same but if we count the number of
emails both the email IDs will show seperate counts. So for this we can create
nicknames just the way we created for sent mails.

In [11]:
df['from'].value_counts()[1:8]

NameError: name 'df' is not defined

This shows the count of emails which were received. All these results can be visualized

In [12]:
df_top7 = df['from'].value_counts()[1:11]
sns.set_style('whitegrid')
plt.figure(figsize=(11,6))
sns.barplot(x=df_top7, y=df_top7.index, palette='Blues_d')
plt.xlabel('Number of Emails')
plt.ylabel('Email Sender')
plt.title('Top 10 Email Senders')
plt.show()

NameError: name 'df' is not defined

### 4. Most common topics
The content of the messages is unavailable; however, the subject of each message can clearly indicate the recurrent topics for both incoming and outgoing emails. which can be visualized in word cloud.

In [13]:
all_wrds_in = []
for wrds in list(df['subject'][df['to'] == 'me']):
    all_wrds_in.extend(str(wrds).lower().split())

all_wrds_out = []
for wrds in list(df['subject'][df['from'] == 'me']):
    all_wrds_out.extend(str(wrds).lower().split())

NameError: name 'df' is not defined

In [14]:
all_wrds_in[:6]

[]

In [15]:
my_stopwords = ['re:', 'nan', 'none', '-', 'fwd:', 'fw:',
                '&', 'hola', 'saludos', 'order', 'amazon.com']

In [16]:
import nltk
nltk.download('stopwords')

[nltk_data] Error loading stopwords: <urlopen error [WinError 10054]
[nltk_data]     An existing connection was forcibly closed by the
[nltk_data]     remote host>

False

In [17]:
from nltk.corpus import stopwords
stopwords_en = set(stopwords.words('english'))
all_stopwords = stopwords_en | set(my_stopwords)

In [18]:
len(all_wrds_in), len(all_wrds_out)

NameError: name 'all_wrds_out' is not defined

In [ ]:
all_wrds_in = [wrd for wrd in all_wrds_in if wrd not in all_stopwords]
all_wrds_out = [wrd for wrd in all_wrds_out if wrd not in all_stopwords]

In [ ]:
len(all_wrds_in), len(all_wrds_out)

In [ ]:
wrds_in = Counter(all_wrds_in)
wrds_out = Counter(all_wrds_out)

In [ ]:
wrds_in.most_common(10)

In [ ]:
wrds_out.most_common(10)

In [ ]:
pip install wordcloud

In [ ]:
from wordcloud import WordCloud, STOPWORDS

In [ ]:
words_in = ''
for t in wrds_in.most_common(150):
    for i in range(t[1]):
        words_in += t[0] + ' '

words_out = ''
for t in wrds_out.most_common(150):
    for i in range(t[1]):
        words_out += t[0] + ' '

# **Word cloud of incoming mails**

In [ ]:
wordcloud_in = WordCloud(stopwords=STOPWORDS,
                      background_color='black',
                      width=1350, height=800,
                      collocations=False
                     ).generate(words_in)
plt.figure(figsize=(20,10))
plt.imshow(wordcloud_in)
plt.axis('off')
plt.title('WordCloud: incoming emails');

# **Word cloud of outgoing mails**

In [ ]:
wordcloud_out = WordCloud(stopwords=STOPWORDS,
                      background_color='white',
                      width=1350, height=800,
                      collocations=False
                     ).generate(words_out)
plt.figure(figsize=(20,10))
plt.imshow(wordcloud_out)
plt.axis('off')
plt.title('WordCloud: outgoing emails');